.DS_Store
build.log
MicType/.build/
MicType/dist/
MicType/Frameworks/
docs/
MicType/.xcbuild/
MicType-v*.zip
MicType-v*.dmg
release/
scripts/maintainer/
.vscode/
MicTypeWindows/src/**/bin/
MicTypeWindows/src/**/obj/
MicTypeWindows/artifacts/
